<section class="content">
  <div class="content-block">
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name">{{ data.person?.fullName }}</div>
                <div class="name-center">{{ data.role }}</div>
              </div>
              <img
                [src]="data.img ?? 'assets/images/user/admin.jpg'"
                class="user-img"
                alt=""
              />
              <p></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="p-4">
            <!-- <small class="text-muted">Correo electrónico: </small>
            <p>{{ data.email }}</p>
            <hr /> -->
            <small class="text-muted">Estado usuario: </small>
            <p>Activo</p>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                Acerca de mí
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Nombre</strong></h2>
                    {{ data.person?.fullName }}
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Identificación</strong></h2>
                    {{ data.person?.documentType.acronym }} -
                    {{ data.person?.documentNo }}
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Dirección</strong></h2>
                    {{ data.person.address ?? "Desconocido" }}
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Genero</strong></h2>
                    {{ data.person?.gender.name ?? "Desconocido" }}
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Estado civil</strong></h2>
                    {{ data.person?.civilStatus?.name ?? "Desconocido" }}
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Edad</strong></h2>
                    {{ edad }}
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Fecha de nacimiento</strong></h2>
                    {{ data.person?.birthDate | date : "dd/MM/yyyy" }}
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
