<ul class="clearfix">
  <li>
    <p>
      <span class="font-weight-bold"><strong>Nombre: </strong> </span
      >{{ data?.row.name }}
    </p>
  </li>
  <li>
    <p>
      <span class="font-weight-bold"><strong>Apellido: </strong></span
      >{{ data?.row.lastName }}
    </p>
  </li>
  <li>
    <p>
      <span class="font-weight-bold"><strong>Tipo de documento: </strong></span
      >{{ data?.row.documentType.name }}
    </p>
  </li>
  <li>
    <p>
      <span class="font-weight-bold"
        ><strong>Número de documento: </strong></span
      >{{ data?.row.documentNo }}
    </p>
  </li>
</ul>
