<ul class="clearfix">
  <li>
    <p>
      <span class="font-weight-bold"><strong>Tema: </strong> </span
      >{{ data.tema }}
    </p>
  </li>
  <li>
    <p>
      <span class="font-weight-bold"><strong>Situación: </strong></span
      >{{ data.descripcion }}
    </p>
  </li>
  <li>
    <p>
      <span class="font-weight-bold"
        ><strong>Grado de afectación: </strong></span
      >{{ data.gradoAfectacion }}
    </p>
  </li>
  <li>
    <p>
      <span class="font-weight-bold"><strong>Fecha de creación: </strong></span
      >{{ data.date }}
    </p>
  </li>
</ul>
