<section class="content">
  <div class="content-block">
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h1><strong>{{titulo}}</strong></h1>
          </div>
          <div class="header">
            <h6>{{subtitulo}}</h6>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="patientForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="patientForm.get('name')?.hasError('required')">
                      El nombre es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="lastName" required>
                    <mat-error *ngIf="patientForm.get('lastName')?.hasError('required')">
                      La apellido es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Tipo de documento</mat-label>
                    <mat-select formControlName="documentTypeId" required>
                      <mat-option [value]="item.id" *ngFor="let item of tiposDocumento | async">
                        {{ item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="patientForm.get('documentTypeId')?.hasError('required')">
                      El tipo de documento es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Número de documento</mat-label>
                    <input matInput formControlName="documentNo" required>
                    <mat-error *ngIf="patientForm.get('documentNo')?.hasError('required')">
                      El número de documento es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Genero</mat-label>
                    <mat-select formControlName="genderId" required>
                      <mat-option [value]="item.id" *ngFor="let item of tiposGenero | async">
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="patientForm.get('genderId')?.hasError('required')">
                      El genero es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="address" required>
                    <mat-error *ngIf="patientForm.get('address')?.hasError('required')">
                      La dirección es requerida
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Estado civil</mat-label>
                    <mat-select formControlName="civilStatusId" required>
                      <mat-option [value]="item.id" *ngFor="let item of tiposEstadoCivil | async">
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="patientForm.get('civilStatusId')?.hasError('required')">
                      El estado civil es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="patientForm.get('birthDate')?.hasError('required')">
                      La fecha de nacimiento es requerida
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Ocupación</mat-label>
                    <input matInput formControlName="occupation">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-checkbox formControlName="consentText" class="example-full-width mb-3">
                    Acepta los terminos y condiciones
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                  <label>Foto</label>
                  <app-file-upload formControlName="uploadFile"></app-file-upload>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!patientForm.valid " mat-raised-button
                    color="primary">Guardar</button>
                  <button type="button" mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
