<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Consultar institución'" [items]="['Instituciones']"
        [active_item]="'Consultar institución'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <a mat-mini-fab (click)="volver()" matTooltip="Volver"
              class="btn bg-purple btn-lg btn-block waves-effect"><mat-icon>keyboard_return</mat-icon></a>
          </div>
          <div class="header">
            <h1><strong> Consultar institución</strong></h1>
          </div>
          <div class="header">
            <h6>En esta pantalla podrás consultar la institución</h6>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Nombre: </strong></span>{{data.nombre}}</h6>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Tipo: </strong></span>{{ data.tipo }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Descripción: </strong></span>{{data.descripcion}}
                </h6>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6>
                  <span class="font-weight-bold"><strong>Fecha: </strong></span>{{data.date}}
                </h6>
              </div>
            </div>

            

            <div class="row">
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <div class="header">
                  <h2>Lista de servicios</h2>
                </div>
                <div class="tableBody">
                  <div class="body table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center">No</th>
                          <th class="text-left">Nombre</th>
                          <th class="text-left">Descripción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of listaServicio; let i = index">
    
                          <td class="text-center" id="{{i+'n'}}"
                            *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                            {{data.id}}</td>
                          <td class="text-left" id="{{i+'n'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                            {{data.nombre}}</td>
                          <td class="text-left" id="{{i+'f'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                            {{data.descripcion}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <div class="header">
                  <h2>
                    Lista del personal
                  </h2>

                </div>
                <div class="body table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="text-center">No</th>
                        <th class="text-left">Nombre</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of listaPersonal; let i = index">

                        <td class="text-center" id="{{i+'n'}}"
                          *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                          {{data.id}}</td>
                        <td class="text-left" id="{{i+'n'}}"
                          *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                          {{data.descripcion}}</td>

                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>