<!-- <section class="content">
  <div class="content-block"> -->
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h3>
              <strong> {{ titulo }}</strong>
            </h3>
          </div>
          <div class="header">
            <h6>{{ subtitulo }}</h6>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="usuarioForm">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput formControlName="username" required />
                    <mat-error
                      *ngIf="usuarioForm.get('username')?.hasError('required')"
                    >
                      El nombre de usuario es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="email" required />
                    <mat-error
                      *ngIf="
                        usuarioForm.get('email')?.hasError('email') &&
                        usuarioForm.get('email')?.touched
                      "
                    >
                      Por favor ingresar un correo electrónico válido
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngIf="!modoEditar">
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Contraseña</mat-label>
                    <input
                      matInput
                      formControlName="password"
                      [type]="hide ? 'password' : 'text'"
                      required
                    />
                    <mat-icon
                      class="material-icons-two-tone color-icon p-3"
                      matSuffix
                      (click)="hide = !hide"
                    >
                      {{ hide ? "visibility_off" : "visibility" }}</mat-icon
                    >
                    <mat-error
                      *ngIf="usuarioForm.get('password')!.hasError('required')"
                    >
                      La contraseña es requerida
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Confirmar contraseña</mat-label>
                    <input
                      matInput
                      formControlName="cpassword"
                      [type]="chide ? 'password' : 'text'"
                      required
                    />
                    <mat-icon
                      class="material-icons-two-tone color-icon p-3"
                      matSuffix
                      (click)="chide = !chide"
                    >
                      {{ chide ? "visibility_off" : "visibility" }}</mat-icon
                    >
                    <mat-error
                      *ngIf="usuarioForm.get('cpassword')!.hasError('required')"
                    >
                      La confirmación de la contraseña es requerida
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName="idRol" required>
                      <mat-option
                        [value]="item.id"
                        *ngFor="let item of getRoles | async"
                      >
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="usuarioForm.get('idRol')?.hasError('required')"
                    >
                      Selecciona un rol
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <!-- <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Persona</mat-label>
                    <input matInput formControlName="personId" type="password" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix (click)="buscarPersona()">
                      search</mat-icon>
                    <mat-error *ngIf="usuarioForm.get('personId')?.hasError('required')">
                      Re-Enter password is required
                    </mat-error>
                  </mat-form-field> -->
                  <app-mat-select-complete
                    [label]="'Persona'"
                    [placeholder]="'Buscar persona'"
                    [clearButton]="true"
                    [key]="'fullName'"
                    [keyValue]="'id'"
                    [value]="valuePerson"
                    [control]="usuarioForm.controls['personId']"
                    [options]="searchPerson"
                    [appearance]="'outline'"
                  >
                  </app-mat-select-complete>
                </div>
              </div>
              <div class="row" *ngIf="modoEditar">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                  <button
                    mat-raised-button
                    class="bg-green"
                    (click)="openDialogChangePassword()"
                  >
                    Cambiar contraseña
                    <mat-icon>vpn_key</mat-icon>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button
                    class="btn-space"
                    mat-raised-button
                    color="primary"
                    (click)="onSubmit()"
                  >
                    Guardar
                  </button>
                  <button
                    type="button"
                    mat-raised-button
                    color="warn"
                    (click)="cancelar()"
                  >
                    Cancelar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <!-- </div>
</section> -->
