<!-- <div> -->
  <!-- <h2 mat-dialog-title>Cambiar contraseña</h2>
  <div mat-dialog-content> -->
    <form [formGroup]="form">
          <div class="text-inside">
            <mat-form-field class="example-full-width">
              <mat-label>Contraseña anterior</mat-label>
              <input matInput formControlName="oldPassword" [type]="hide ? 'password' : 'text'" required>
              <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix (click)="hide = !hide">
                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="form.get('oldPassword')!.hasError('required')">
                La contraseña es requerida
              </mat-error>
            </mat-form-field>
          </div>
          <div class="text-inside">
            <mat-form-field class="example-full-width">
              <mat-label>Contraseña nueva</mat-label>
              <input matInput formControlName="newPassword" [type]="chide ? 'password' : 'text'" required>
              <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix (click)="chide = !chide">
                {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="form.get('newPassword')!.hasError('required')">
                La confirmación de la contraseña es requerida
              </mat-error>
            </mat-form-field>
          </div>
      <!-- <div class="btn-sec">
        <button class="btn-space" mat-raised-button color="primary">Guardar</button>
        <button type="button" mat-button (click)="closeDialog()">Cancelar</button>
      </div> -->
    </form>
  <!-- </div>
</div> -->
