<section class="content">
  <div class="content-block">
    <div class="block-header">
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <a mat-mini-fab (click)="volver()" matTooltip="Volver"
              class="btn bg-purple btn-lg btn-block waves-effect"><mat-icon>keyboard_return</mat-icon></a>
          </div>
          <div class="header">
            <h1><strong> Consultar situación</strong></h1>
          </div>
          <div class="header">
            <h6>En esta pantalla podrás consultar la situación</h6>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Nombre persona: </strong></span>{{person.fullName}}</h6>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>ID: </strong></span>{{person.documentType?.acronym}} - {{person.documentNo}}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Tema: </strong></span>{{data.subjectName}}</h6>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Descripción: </strong></span>{{ data.description }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Grado de afectación: </strong></span>{{data.affectationDegree}}
                </h6>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6>
                  <span class="font-weight-bold"><strong>Sensaciones y sentimientos: </strong></span>Tristeza
                </h6>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Primer pensamiento: </strong></span>{{data.firstThought}}
                </h6>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6>
                  <span class="font-weight-bold"><strong>Comportamiento: </strong></span>{{data.behavior}}
                </h6>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Fecha de creación: </strong></span>{{data.createdAt}}
                </h6>
              </div>
            </div>
            

              <div class="row clearfix">
                <h2>
                  <strong>Signos de alarma</strong>
                </h2>
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <div class="body table-responsive">
                    <app-ng-table
                      #tableMother
                      [config]="configTableMother"
                    ></app-ng-table>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <div class="body table-responsive">
                    <app-ng-table
                      #tableBaby
                      [config]="configTableBaby"
                    ></app-ng-table>
                  </div>
                </div>

                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Diagnosticos
                      </mat-panel-title>
                      <mat-panel-description>
                        Diagnosticos asociados a la situación
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    
                    <app-alldiagnosticos></app-alldiagnosticos>

                  </mat-expansion-panel>
                </mat-accordion>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>