<!-- <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h1><strong>BITACORAS</strong></h1>
        </div>
        <div class="header">
          <h6>En esta pantalla podrás visualizar las bitacoras existentes</h6>
        </div>
        <div class="materialTableHeader">
          <div class="right">
            <ul class="tbl-export-btn" color="white">
              <li class="tbl-header-btn">
                <div class="m-l-10" matTooltip="Adicionar">
                  <button mat-mini-fab color="primary" (click)="addNew()">
                    <mat-icon class="col-white">add</mat-icon>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>


        <div class="row clearfix">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
              <div class="header">
                <h2>Lista de bitacoras</h2>
              </div>
              <div class="tableBody">
                <div class="table-responsive">
                  <table class="table display product-overview mb-30" id="support_table">
                    <thead>
                      <tr>
                        <th class="text-center">No</th>
                        <th class="text-center">Título</th>
                        <th class="text-center">Fecha de creación</th>
                        <th class="text-center">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of listaBitacora; let i = index">




                        <td class="text-center" id="{{i+'n'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                          {{data.id}}</td>
                        <td class="text-center" id="{{i+'f'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                          {{data.i_name}}</td>
                        <td class="text-center" id="{{i+'t'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                          {{data.date}}</td>
                        <td class="text-center">
                          <button mat-icon-button class="tbl-action-btn" (click)="$event.stopPropagation()"
                            (click)="search(data)">
                            <app-feather-icons [icon]="'search'" [class]="'tbl-fav-edit'"></app-feather-icons>
                          </button>
                          <button mat-icon-button (click)="$event.stopPropagation()" (click)="editCall(data)"
                            class="tbl-action-btn">
                            <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                          </button>
                          <button mat-icon-button class="tbl-action-btn" (click)="$event.stopPropagation()"
                            (click)="deleteItem(data)">
                            <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                          </button>
                        </td>

                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> -->

  <app-crud-container
  [title]="title"
  [subtitle]="subtitle"
  [showCreateButton]="true"
  [configTable]="config"
  [modalForm]="modalForm"
  [disableContainer]="true"
  [hideContainer]="true"
>
</app-crud-container>