<!-- <section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Inicio'" [items]="[]" [active_item]="'Inicio'"></app-breadcrumb>
    </div>
    <div class="row">
      <img src='assets/images/dashboard.png' width="42" height="1000" alt="avatar">
    </div>
  </div>
</section> -->
<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboad'" [items]="[]" [active_item]="'Dashboad'"></app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-statistic-2">
          <img src='assets/images/dashboard2.png' width="730" height="320" alt="avatar">
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-purple">
              <i class="material-icons align-middle">face</i>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Pacientes</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold float-end mb-0"> 650</h3>
              </div>

            </div>
            <div class="m-r-10 m-l-10">
              <img src='assets/images/madrehija.png' width="230" height="230" alt="avatar">
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-green">
              <i class="material-icons align-middle">person_add</i>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Profesionales enfermería</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold float-end mb-0"> 129</h3>
              </div>
            </div>
            <div class="m-r-10 m-l-10">
              <img src='assets/images/enfermeria.png' width="230" height="230" alt="avatar">
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- #END# Widgets -->
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="header">
            <h2>
              Situaciones</h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th class="text-center">No</th>
                    <th class="text-left">Descripcion</th>
                    <th class="text-left">Tema</th>
                    <th class="text-left">Grado de afectación</th>
                    <th class="text-center">Fecha de creación</th>
                    <th class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of listaSituaciones; let i = index">




                    <td class="text-center" id="{{i+'n'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                      {{data.id}}</td>
                      <td class="text-left" id="{{i+'n'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                        {{data.descripcion}}</td>
                    <td class="text-left" id="{{i+'f'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                      {{data.tema}}</td>
                      <td class="text-left" id="{{i+'f'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                        {{data.gradoAfectacion}}</td>
                    <td class="text-center" id="{{i+'t'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                      {{data.date}}</td>
                    <td class="text-center">
                      <button mat-icon-button class="tbl-action-btn" (click)="$event.stopPropagation()"
                        (click)="searchSituacion(data)">
                        <app-feather-icons [icon]="'search'" [class]="'tbl-fav-edit'"></app-feather-icons>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>
              Lista profesionales de enfermería</h2>
            
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th class="text-center">No</th>
                    <th class="text-left">Nombre</th>
                    <th class="text-left">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of listaEnfermeria; let i = index">




                    <td class="text-center" id="{{i+'n'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                      {{data.id}}</td>
                      <td class="text-left" id="{{i+'n'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                        {{data.nombre}}</td>
                    <td class="text-left" id="{{i+'f'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                      <div *ngIf="data.estado==='activo'">
                        <span class="badge badge-solid-green">
                          {{data.estado}}</span>
                      </div>
                      <div *ngIf="data.estado==='inactivo'">
                        <span class="badge badge-solid-orange">
                          {{data.estado}}</span>
                      </div>
                      </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="header">
            <h2>
              Bitacoras</h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th class="text-center">No</th>
                    <th class="text-center">Título</th>
                    <th class="text-center">Fecha de creación</th>
                    <th class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of listaBitacora; let i = index">

                    <td class="text-center" id="{{i+'n'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                      {{data.id}}</td>
                    <td class="text-center" id="{{i+'f'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                      {{data.i_name}}</td>
                    <td class="text-center" id="{{i+'t'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                      {{data.date}}</td>
                    <td class="text-center">
                      <button mat-icon-button class="tbl-action-btn" (click)="$event.stopPropagation()"
                        (click)="searchBitacora(data)">
                        <app-feather-icons [icon]="'search'" [class]="'tbl-fav-edit'"></app-feather-icons>
                      </button>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>
              Lista pacientes</h2>
            
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th class="text-center">No</th>
                    <th class="text-left">Nombre</th>
                    <th class="text-left">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of listaPacientes; let i = index">

                    <td class="text-center" id="{{i+'n'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                      {{data.id}}</td>
                      <td class="text-left" id="{{i+'n'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                        {{data.nombre}}</td>
                    <td class="text-left" id="{{i+'f'}}" *ngIf="i+1 >= indicePrimerItem && i < indiceUltimoItem">
                      <div *ngIf="data.estado==='activo'">
                        <span class="badge badge-solid-green">
                          {{data.estado}}</span>
                      </div>
                      <div *ngIf="data.estado==='inactivo'">
                        <span class="badge badge-solid-orange">
                          {{data.estado}}</span>
                      </div>
                      </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>