<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Consultar persona'" [items]="['Personas']"
        [active_item]="'Consultar persona'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <a mat-mini-fab (click)="volver()" matTooltip="Volver"
              class="btn bg-purple btn-lg btn-block waves-effect"><mat-icon>keyboard_return</mat-icon></a>
          </div>
          <div class="header">
            <h1><strong> Consultar persona</strong></h1>
          </div>
          <div class="header">
            <h6>En esta pantalla podrás consultar la persona</h6>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Nombre: </strong></span>{{data.nombre}}</h6>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Apellido: </strong></span>{{ data.apellido }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Tipo de documento: </strong></span>{{data.tipoDocumento}}
                </h6>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6>
                  <span class="font-weight-bold"><strong>Número de documento: </strong></span>{{data.numeroDocumento}}
                </h6>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Fecha de nacimiento: </strong></span>{{data.fechaNacimiento}}
                </h6>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6>
                  <span class="font-weight-bold"><strong>Dirección: </strong></span>{{data.direccion}}
                </h6>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Genero: </strong></span>{{data.genero}}
                </h6>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Estado civil: </strong></span>{{data.estadoCivil}}
                </h6>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Oupación: </strong></span>{{data.ocupacion}}
                </h6>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                <h6><span class="font-weight-bold"><strong>Fecha de creación: </strong></span>{{data.date}}
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>