<section class="content">
  <div class="content-block">
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <a
              mat-mini-fab
              (click)="volver()"
              matTooltip="Volver"
              class="btn bg-purple btn-lg btn-block waves-effect"
              ><mat-icon>keyboard_return</mat-icon></a
            >
            <h1>
              <strong>{{ titulo }}</strong>
            </h1>
          </div>
          <div class="header">
            <h6>{{ subtitulo }}</h6>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Alerta</mat-label>
                    <mat-select formControlName="consultationAlert">
                      <mat-option
                        *ngFor="let alerta of alertaList"
                        [value]="alerta"
                        >{{ alerta }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="consultationStatus">
                      <mat-option
                        *ngFor="let estado of estadoList"
                        [value]="estado"
                        >{{ estado }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Resultado</mat-label>
                    <textarea
                      matInput
                      formControlName="consultationResult"
                      required
                    ></textarea>
                    <mat-error
                      *ngIf="form.get('resultado')?.hasError('required')"
                    >
                      El resultado es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Indicadores</mat-label>
                    <mat-select multiple>
                      <mat-option
                        *ngFor="let indicador of indicadorList"
                        [value]="indicador"
                        >{{ indicador }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Actividades</mat-label>
                    <mat-select multiple>
                      <mat-option
                        *ngFor="let actividad of actividadList"
                        [value]="actividad"
                        >{{ actividad }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button
                    class="btn-space"
                    [disabled]="!form.valid"
                    mat-raised-button
                    color="primary"
                  >
                    Guardar
                  </button>
                  <button
                    type="button"
                    mat-raised-button
                    color="warn"
                    (click)="cancelar()"
                  >
                    Cancelar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
