<form class="register-form m-4" [formGroup]="patientForm" (ngSubmit)="(submit)">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix
          >face</mat-icon
        >
        <mat-error *ngIf="patientForm.get('name')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Mobile</mat-label>
        <input matInput formControlName="mobile" type="number" />
        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix
          >phone</mat-icon
        >
        <mat-error *ngIf="patientForm.get('mobile')?.hasError('required')">
          Mobile is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
      <div class="m-b-20">
        <mat-label class="msr-3">Gender:</mat-label>
        <mat-radio-group
          aria-label="Select gender"
          formControlName="gender"
          required
        >
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
          <mat-error *ngIf="patientForm.get('gender')?.hasError('required')">
            Select gender
          </mat-error>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Birth date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="patientForm.get('date')?.hasError('required')">
          Please select date
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Blood Group</mat-label>
        <mat-select formControlName="bGroup" required>
          <mat-option [value]="'A+'"> A+ </mat-option>
          <mat-option [value]="'B+'"> B+ </mat-option>
          <mat-option [value]="'O+'"> O+ </mat-option>
          <mat-option [value]="'AB+'"> AB+ </mat-option>
        </mat-select>
        <mat-error *ngIf="patientForm.get('bGroup')?.hasError('required')">
          Blood Group is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Treatment</mat-label>
        <input matInput formControlName="treatment" required />
        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix
          >healing</mat-icon
        >
        <mat-error *ngIf="patientForm.get('treatment')?.hasError('required')">
          Treatment is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
