    <form class="register-form m-4" [formGroup]="form">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre</mat-label>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>build</mat-icon>
            <input matInput formControlName="name" required>
            <mat-error *ngIf="form.get('name')?.hasError('required')">
              El nombre es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="description" required></textarea>
          <mat-error *ngIf="form.get('description')?.hasError('required')">
            El código es requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    </form>
