<div class="container">
  <h2 mat-dialog-title>Consultar usuario</h2>
  <div mat-dialog-content>
    <ul class="clearfix">
      <li>
        <p><span class="font-weight-bold"><strong>Nombre de usuario: </strong> </span>{{data.nombreUsuario}}</p>
      </li>
      <li>
        <p><span class="font-weight-bold"><strong>Correo electrónico: </strong></span>{{ data.correo }}</p>
      </li>
      <li>
        <p>
          <span class="font-weight-bold"><strong>Rol: </strong></span>{{data.rol}}
        </p>
      </li>
      <li>
        <p>
          <span class="font-weight-bold"><strong>Estado: </strong></span>{{data.estado}}
        </p>
      </li>
    </ul>
  </div>
</div>
