<section class="content">
  <div class="content-block">
    <div class="block-header"></div>
    <div class="body">
      <form class="m-4" [formGroup]="roomForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="header">
                <h3>
                  <strong> {{ titulo }}</strong>
                </h3>
              </div>
              <div class="header">
                <h6>{{ subtitulo }}</h6>
              </div>
              <div class="body">
                <div class="row">
                  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Nombre</mat-label>
                      <input matInput formControlName="name" required />
                      <mat-error
                        *ngIf="roomForm.get('name')?.hasError('required')"
                      >
                        El nombre es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Indicador de validez</mat-label>
                      <input
                        matInput
                        formControlName="validityIndicator"
                        required
                      />
                      <mat-error
                        *ngIf="
                          roomForm
                            .get('validityIndicator')
                            ?.hasError('required')
                        "
                      >
                        El indicador es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <h6>Tema padre</h6>
                <div class="row">
                  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <app-mat-select-complete
                      [key]="'name'"
                      [keyValue]="'id'"
                      [appearance]="'outline'"
                      [options]="listTema"
                      [control]="roomForm.controls['parentId']"
                      [value]="valueParent"
                    >
                    </app-mat-select-complete>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button
                      class="btn-space"
                      [disabled]="!roomForm.valid"
                      mat-raised-button
                      color="primary"
                    >
                      Guardar
                    </button>
                    <button
                      type="button"
                      mat-raised-button
                      color="warn"
                      (click)="cancel()"
                    >
                      Cancelar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
